@mixin heading () {
  $secondary-font-color;
  font-style: $primary-font;
}

@mixin title () {
    font-size: 30px;
    text-transform: uppercase;
    font-style: $title;
}

@mixin body () {
    font-family: $heading;
}

@mixin nav () {
    &:hover {
        background-color: $dark-background;
    }
}