@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat&display=swap');

$primary-font: 'Dosis';

$heading: 'Marck Script';

$title: 'Montserrat';