@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

.columns {
  display: inline-block;
}

.left {
  text-align: center;
  width: 50%;
}

.right {
  width: 50%;
}

.nav {

  background-color: #150300;
  padding: 15px;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.discover {
  color: goldenrod;
  margin: none;
  padding: none;
  font-style: marck;
}

.story {
  text-transform: uppercase;
  font-size: 30px;
  font-style: bold;
  margin: none;
  padding: none;
}

.about {
  color:goldenrod;
  text-transform: uppercase;
  text-decoration: underline;
}


// Medium screens and up
@media (min-width: 768px) {
  
  }

// Big screens
@media (min-width: 1024px) {

}